:root{
  --text-color: #757575;
  --title-text: #212121;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  color: var(--title-text);
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text);
}

.logo span{
  color: #2196F3;
}

.link{
  text-decoration: none;
  color: var(--title-text);
}

.menu{
  list-style: none;
}